<!DOCTYPE html>
<html
  lang="pt"
  xmlns:th="https://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous"
    >
    <title>Cadastro de Cliente</title>
</head>
<body>

  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://w7.pngwing.com/pngs/188/680/png-transparent-shark-logo-mascot-sharks-marine-mammal-animals-team.png" alt="Bootstrap" width="35" height="35">
      </a>
      <a class="navbar-brand text-white " href="#">Sistema de Vendas</a>
      <button class="navbar-toggler text-white " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white "></span>
      </button>
      <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white ">
          <li class="nav-item">
            <a class="nav-link active text-white " aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item text-white">
            <a class="nav-link text-white " href="#">Link</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>
  
<div class="container">
    <form action="/salvarCliente" th:object="${cliente}" method="post">
        <div class="form-group row">
          <div class="col-md">
            <label for="id">ID</label>
            <input type="text" readonly="true" class="form-control" id="id" th:field="*{id}">
            <label>Nome do Cliente</label>
            <input type="text" required class="form-control" id="nome" th:field="*{nome}">
            <label>CPF</label>
            <input type="text" required class="form-control" id="nome" th:field="*{cpf}">
            <label>Endereço</label>
            <input type="text" required class="form-control" id="nome" th:field="*{endereco}">
            <label>Telefone</label>
            <input type="text" required class="form-control" id="nome" th:field="*{telefone}">

          </div>
          <div class="col-md">
            <label>Numero</label>
            <input type="text" required class="form-control" id="nome" th:field="*{numero}">
            <label>Bairro</label>
            <input type="text" required class="form-control" id="nome" th:field="*{bairro}">
            <label>Email</label>
            <input type="text" required class="form-control" id="nome" th:field="*{email}">
  
            <label>Cidade</label>
            <select th:field="*{cidade}" class="form-control">
              <option th:each="est : ${listaCidades}" th:value="${est.id}" th:text="${est.nome}"></option>
            </select>

          </div>
          
        </div>

        <div class="mt-2">
          <a href="/salvarCliente" >
            <button type="submit" class="btn btn-primary">Salvar</button>
          </a>
          <a href="/administrativo" class="btn btn-danger">Voltar</a>
          <a href="/listarCliente" class="btn btn-success">Lista</a>
        </div>

      </form>
</div>



<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
    </script>
    <script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous">
    </script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js" integrity="sha512-gDWSGGWzTc0mD1P0NwDUsZsSrSyLsC8Mv0I14JtDFJXu2Pgo3ik5Uk1+BqxosbEJU2gDUD6W5DCpn7l29Ah9Ag==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</body>

</html>